@page "/login"


<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="mb-3 row">
                <input class="form-control" placeholder="Entre com e-mail">
            </div>
            <div class="mb-3 row">
                <input type="password" class="form-control" placeholder="Entre com a senha" id="">
            </div>
            <div class="mb-3 row">
                <button type="button" class="btn btn-outline-dark form-control"
                    @onclick="MostrarFuncMes">Acessar</button>
            </div>
        </div>
        <div class="col-5">
            <div class="card" style="width: 15rem;">
                <img src="../imagens/funcionario1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">@titulo</p>
                    <p>@msg</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Programação C# - Nesse caso substituindo o JavaScript ou ReactDOM-->

@code {

    private string? msg;
    private string? titulo;
    public string? NomeCompleto { get; set; } = "Manoel Ferreira";

    public string? Cargo { get; set; } = "Piloto";

    private DateTime DataNasc{ get; set; } = new DateTime(2020, 11, 21, 22, 59, 59);

    public void MostrarFuncMes()
    {
        var diaAtual = DateTime.Now.Day;
        var mesAtual = DateTime.Now.Month;
        titulo = "Aniversariantes do mês";
        if(DataNasc.Day.Equals(diaAtual)&&DataNasc.Month.Equals(mesAtual)){
        msg = $"Parabéns {Cargo} {NomeCompleto}. Hoje: {DataNasc.Day}/{DataNasc.Month} é um dia especial, pois foi o dia em que você veio iluminar essa terra com o seu potêncial!";
        }else{
            msg = "Não temos aniversariantes hoje!";
        }

    }
}